.button{
  color: white;
  background-color: blue;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover{  
    background-color: darkblue;
  }
}
